header {
  padding: 4px 0;
  height: 60px;
  background-color: #333;
}

header .header__container {
  padding: 0 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header__container .header__logo {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

header .header__container .header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .header__container .header__greeting {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
